body{
    color: white;
    background-color: black;
    font-family: sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: center;
    align-items:center;
    padding: 16px;

}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
img {
    width: 250px ;
    height: 250px;
    border-radius:50%;
    margin-top: -100px;
    transform: translatey(-110%);

}
button{
    background: rgb(169, 55, 55);
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding: 10px 20px;
    font-family: sans-serif;
    overflow: hidden;
    transform: scale(1.5);
    width: 300px;
    height: 300px;
    transform: translatey(250%);
}
h1 {
    width: 10px;
     margin-left: 40%; 
     font-size: 100px;
    transform: translatey(85%);

}
h2{
    font-size: 50px;
    margin-left: 25%;
    margin-top: 10%;
    transform: translatey(-350%);
}