body{
    color: white;
    background-color: black;
    font-family: sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: center;
    align-items:center;
    padding: 16px;

}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: red;
}
img {
    width: 250px ;
    height: 250px;
    border-radius:50%;
    margin-top: -100px;
    transform: translatey(-110%);

}
button{
    background-color: rgb(255, 255, 255);
    
}
h1 {
    width: 10px;
     margin-left: 45%; 
     font-size: 100px;
    transform: translatey(10%);

}
h2{
    font-size: 50px;
    margin-left: 25%;
    margin-top: 10%;
    transform: translatey(-350%);
}
.search-input{
    transform: translateY(-900%);
    margin-top: 10px;
    width: 700px;
    height: 30px;
    font-size: 20px;
    margin-left: 35%;

  

}
